<!DOCTYPE html>
<html>
    <head>
        <title>
            Help
        </title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        </div>
        {{>footer}}
    </body>
</html>