<!DOCTYPE html>
<html>
    <head>
        <title>
            Static File
        </title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/ionicons-2.0.1/css/ionicons.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p class="para">Use this site to get your weather !!</p>
            <form>
                <input placeholder="Enter location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p class="msz" id="message-2"></p>
            <p class="msz" id="message-3"></p>
            <p class="msz" id="message-4"></p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
    
</html>